################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/DOT_TestGit/.vs/DOT_TestGit/v17
/Projects/DOT_TestGit/.vs/DOT_TestGit
/Projects/TestGit_V2/.vs/TestGit_V2
