################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/DOT_TestGit/.vs/DOT_TestGit/v17
/Projects/DOT_TestGit/.vs/DOT_TestGit
/Projects/TestGit_V2/.vs/TestGit_V2
/Metadata/DOT_TestGit/BuildModelResult.log
/Metadata/DOT_TestGit/BuildModelResult.xml
/Metadata/DOT_TestGit/BuildProjectResult.log
/Metadata/DOT_TestGit/BuildProjectResult.xml
/Metadata/DOT_TestGit/bin/DOT_TestGit_AxClass.md
/Metadata/DOT_TestGit/bin/DOT_TestGit_AxEdt.md
/Metadata/DOT_TestGit/bin/DOT_TestGit_AxEnum.md
/Metadata/DOT_TestGit/bin/DOT_TestGit_AxTable.md
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.ChainOfCommandModule.netmodule
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.ChainOfCommandModule.pdb
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.Class.Class1.netmodule
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.Class.Class1.pdb
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.ClassExtends.runtime
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.dll
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.EventHandlersModule.netmodule
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.EventHandlersModule.pdb
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.Table.DOT_Table1.netmodule
/Metadata/DOT_TestGit/bin/Dynamics.AX.DOT_TestGit.Table.DOT_Table1.pdb
